@font-face {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/AlegreyaSans-Regular.ttf") format("truetype");
  }
  
  /* Alegreya Sans italic */
  @font-face {
    font-family: "Alegreya Sans";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/AlegreyaSans-Italic.ttf") format("truetype");
  }
  
  /* Alegreya Sans Medium */
  @font-face {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/AlegreyaSans-Medium.ttf") format("truetype");
  }
  
  /* Alegreya Sans Bold */
  @font-face {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/AlegreyaSans-Bold.ttf") format("truetype");
  }
  
  /* Alegreya Sans Bold Italic */
  @font-face {
    font-family: "Alegreya Sans";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/AlegreyaSans-BoldItalic.ttf") format("truetype");
  }
  
  /* Alegreya Sans Medium italic */
  @font-face {
    font-family: "Alegreya Sans";
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/AlegreyaSans-MediumItalic.ttf") format("truetype");
  }
  
a:link {
    text-decoration: none;
    color: rgb(123, 143, 87);
    font-family: inherit;
  }
  a:visited {
    text-decoration: none;
    color: rgb(123, 143, 87);
    font-family: inherit;
  }
  a:hover {
    text-decoration: none;
    color: rgb(100, 123, 67);
    font-family: inherit;
  }
  